@import './styles/reset.scss';
@import './styles/flexboxgrid.css';

.general--background {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.ammo--chart-main {
  margin-top: 100px;
  margin-left: 50px;
}

.ballistic--teble-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1px;
  margin-top: 2px;
}

.ballistic--teble {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1px;
  margin-top: 2px;
  border: 1px solid lightblue;
}

.ammo--chart {
  margin-top: 100px;
}

.ammo--sheet-small-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  height: 70px;
  border: 1px solid lightgrey;
  margin: 1px;
}

.ammo--chart-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid lightgrey;
  margin: 1px;
  margin-top: 2px;
  width: 100%;
}

.color--explanation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgrey;
  position: fixed;
  top: 40px;
  right: 3px;
  max-width: 500px;
}

.color--explanation-map {
  display: flex;
  flex-direction: column;
}

.color--explanation-mapped {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  gap: 10px;
  overflow-wrap: break-word;
}

.color--explanation-mapped-color-box {
  width: 122px;
  height: 70px;
}

.color--explanation-mapped-text-box {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 100%;
  overflow-wrap: break-word;
}